@inherits LayoutComponentBase

<PageTitle>TB.AI.OKR.WebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

        </div>

        <article class="content px-4">
            @Body
        </article>

        <FluentToastContainer MaxToastCount="10" />
        <FluentDialogProvider />

    </main>
</div>
